:root {
	--maincolor: #fff;
	--foncolor: #000;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}
button {
	font-family: inherit;
	cursor: pointer;
}
img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}
a {
	text-decoration: none;
}

.container {
	max-width: 1470px;
	margin: 0 auto;
}
body {
	font-family: "Mulish", sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: var(--maincolor);
	background: var(--foncolor);
}

/* -----HEADER------ */
.header {
}
.header__container {
}
.header__logo {
}
.header__logo-m {
	color: var(--maincolor);
	text-align: center;
	font-family: Lemon;
	font-size: 40px;
	line-height: 0px; /* 0% */
}
.header__logo-box {
}
.header__nav {
}
.header__navlist {
}
.header__navlist-item {
}
.header__navlink {
}
.header__sociallist {
}
.header__social-litem {
}
.header__social-icon {
}
